<div class='pure-u-1'>
  <h2>Hello @<%=@user.twitter_name%></h2>
</div>
<div class='pure-u-1'>
  <form action='/board/new' method='get'>
    <input class='pure-button pure-button-primary pure-button-xlarge' type='submit' value='Create a new board'>
  </form>
</div>
<div class='pure-u-1'>
  <h3>Your Bulletin Boards</h3>
  <% if @user.boards.empty? %>
    <p>Um, you don't have any boards. You should add one.</p>
  <% else %>
    <ul>
    <% @user.boards.each do |board| %>
      <li><a href='/board/<%=board.twitter_name%>'><%=board.title%></a>, <a href='http://twitter.com/<%=board.twitter_name%>'>@<%=board.twitter_name%></a></li>
    <% end %>
    </ul>
  <% end %>
</div>